.overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 35;
}

.category__panel{
  position: fixed;
  top: 0px; /* deja espacio para el logo */
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  background: white;
  z-index: 40;
  display: flex;
  flex-direction: column;
  align-items: left;
  animation: slideUp 0.3s ease-out;
}

.panel__search-btn{
    border: none;
    background-color: white;
  align-self: flex-start;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.panel__search-btn :hover{
    background-color: #0081EA;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

.app-container {
  max-width: 500px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

.categoria-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categoria-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  transition: background-color 0.3s ease;
}

.categoria-titulo {
  display: flex;
  justify-content: space-between;
  align-items: left;
  cursor: pointer;
}

.flecha {
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 1rem;
}

.flecha.rotada {
  transform: rotate(90deg);
}

.subcategorias-wrapper {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
}

.subcategorias-wrapper.open {
  max-height: 500px;
}

.subcategorias {
  list-style: none;
  padding-left: 15px;
  margin-top: 10px;
}

.subcategorias li {
  margin: 5px 0;
}

.subcategorias a {
  text-decoration: none;
  color: #007bff;
}

.subcategorias a:hover {
  text-decoration: underline;
}
