
.menu__container-user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    border-top: 2.5px solid #0081EA;
    border-bottom: 2.5px solid #0081EA;
}

.menu__container-person{
    display: flex;
    flex-direction: row;
}

.menu__person-logo i{
    font-size: 50px;
    padding: 0px;
}


.menu__container-person-text{
    margin-left: 15px;
}